<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini App</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="site">

    <h1 hidden>Mini Cooper Website</h1>

    <!-- navigation -->
    <header>
        <div class="logo">
            <a href="#"><img src="./images/logo.png" alt="mini logo"></a>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="#">3 DOOR</a></li>
                <li><a href="#">5 DOOR</a></li>
                <li><a href="#">CONVERTIBLE</a></li>
                <li><a href="#">COUNTRYMAN</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <!-- hero image -->
    <div class="header_img">
        <img src="./images/mini_header.jpg" alt="mini header">
        <h2>Welcome to MINI!</h2>
        <h3>Let the fun begin..</h3>
    </div>

    <!-- Content section -->
    <div class="subtitle">
        <h2>BUILD YOUR MINI.</h2>
        <h4>SELECT A MODEL TO START</h4>
    </div>

    <!-- display carThumbs using vue -->
    <main id="app">
        <nav id="car_nav">
            <ul id="model-img" class="cars">
                <carthumb  @loadlb="loadLightBox" v-for="model in carData" :model="model"></carthumb>
            </ul>
        </nav>
        <!-- custom lightbox component -->
        <carlb @closelb="this.showLightBox=false" v-if="showLightBox" :model="lightboxData"></carlb>
        <!-- end lightbox -->
    </main>

    <!-- Features -->

    <!-- video loop -->
    <section class="video_container">
        <video class="mini_video" muted autoplay loop playsinline>
            <source type="video/mp4" src="https://86bd04aee645f41c2005-510904abdc95bfe9a6b152d3edc0036b.ssl.cf5.rackcdn.com/Public/img/2016-739165/content/electric/fast-facts.mp4?v=NwY8tz2G0hI8N6iLlo2v8m4NZBYEb6Dj3jJYlFRgPBM1">
        </video>
    </section>

    <!-- footer -->

    <footer class="footer_section">
        &#169; 2022 MINI Canada. All rights reserved.
    </footer>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>