header {
 background: $color_one;
 padding: 1.25rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0 0px 10px 0 rgba(0, 0, 0,0.3);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0.875rem 1rem;
}